.colorMenu {
    background-color: olive;
    
    a.nav-link {
        color: #ffffff;
        transition: color 0.3s;
        
        &:hover {
            color: orange;
        }
    }
}
.navbar-nav{
    text-align: right;
    border: none;
}